In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# tip 1 Show installed version
pd.__version__

'1.4.4'

In [3]:
# tip 1 Show installed version
pd.show_versions()

C:\Users\sg_cl\anaconda4\lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : ca60aab7340d9989d9428e11a51467658190bb6b
python           : 3.9.13.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19045
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 9, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.4.4
numpy            : 1.21.5
pytz             : 2022.1
dateutil         : 2.8.2
setuptools       : 63.4.1
pip              : 22.2.2
Cython           : 0.29.32
pytest           : 7.1.2
hypothesis       : None
sphinx           : 5.0.2
blosc            : None
feather          : None
xlsxwriter       : 3.0.3
lxml.etree       : 4.9.1
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.31.1
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : 1.3.5
brotli           :
fastparquet      : None
fsspec           : 2022.7.1
gcsfs            : None
markupsafe       : 2.0.1
matplotlib       : 3.5.2
numba            : 0.55.1
numexpr          : 2.8.3
odfpy            : None
openpyxl         : 3.0.10
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.9.1
snappy           :
sqlalchemy       : 1.4.39
tables           : 3.6.1
tabulate         : 0.8.10
xarray           : 0.20.1
xlrd             : 2.0.1
xlwt             : None
zstandard        : None

In [4]:
# tip 2 create an example data frame
df = pd.read_csv(r'C:\Users\sg_cl\Desktop\masters subjects\DSRT 736\Fraud Dataset\New_data_CCFD\ccfraudTrain.csv')

In [11]:
# tip 2 create an example data frame
df1 = pd.DataFrame({'col_one': [100,200], 'col_two': [1,2]})
print(df1)
df2 = pd.DataFrame(np.random.rand(2,2), columns = list('ab') )
print(df2)

   col_one  col_two
0      100        1
1      200        2
          a         b
0  0.220452  0.539208
1  0.736984  0.344056

In [15]:
# tip 3 rename columns
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [16]:
# tip 3 rename columns
df1 = df1.add_prefix('X_')
df2 = df2.add_suffix('_Y')
print(df1)
print(df2)

   X_col_one  X_col_two
0        100          1
1        200          2
        a_Y       b_Y
0  0.220452  0.539208
1  0.736984  0.344056

In [28]:
#tip 4 reverse row order
df.head()
#df.loc[(df.amt > 1000) & (df.is_fraud == 1)]

# selecting range of rows from 2 to 5
#df.loc[2: 5]
#df.iloc[[0]]
df.iloc[[0, 1]]

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0

In [29]:
# tip 5 select columns by data type
df.dtypes

Unnamed: 0                 int64
trans_date_trans_time     object
cc_num                     int64
merchant                  object
category                  object
amt                      float64
first                     object
last                      object
gender                    object
street                    object
city                      object
state                     object
zip                        int64
lat                      float64
long                     float64
city_pop                   int64
job                       object
dob                       object
trans_num                 object
unix_time                  int64
merch_lat                float64
merch_long               float64
is_fraud                   int64
dtype: object

In [32]:
#df.select_dtypes(include = 'number').head()
#df.select_dtypes(include = ['number','object','category','datetime']).head()
df.select_dtypes(exclude = 'number').head()

,trans_date_trans_time,merchant,category,first,last,gender,street,city,state,job,dob,trans_num
0,2019-01-01 00:00:18,"fraud_Rippin, Kub and Mann",misc_net,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,NC,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9
1,2019-01-01 00:00:44,"fraud_Heller, Gutmann and Zieme",grocery_pos,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99
2,2019-01-01 00:00:51,fraud_Lind-Buckridge,entertainment,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,ID,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95
3,2019-01-01 00:01:16,"fraud_Kutch, Hermiston and Farrell",gas_transport,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,MT,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81
4,2019-01-01 00:03:06,fraud_Keeling-Crist,misc_pos,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,VA,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46

In [33]:
# tip 6 reduce data frame size
df.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 1.1 GB

In [35]:
# call only columns needed
cols = ['trans_date_trans_time','amt','category','state','city_pop','is_fraud']
df3 = pd.read_csv(r'C:\Users\sg_cl\Desktop\masters subjects\DSRT 736\Fraud Dataset\New_data_CCFD\ccfraudTrain.csv', usecols = cols)
print(df3.head)
df3.info(memory_usage = 'deep')

<bound method NDFrame.head of         trans_date_trans_time       category     amt state  city_pop  is_fraud
0         2019-01-01 00:00:18       misc_net    4.97    NC      3495         0
1         2019-01-01 00:00:44    grocery_pos  107.23    WA       149         0
2         2019-01-01 00:00:51  entertainment  220.11    ID      4154         0
3         2019-01-01 00:01:16  gas_transport   45.00    MT      1939         0
4         2019-01-01 00:03:06       misc_pos   41.96    VA        99         0
...                       ...            ...     ...   ...       ...       ...
1296670   2020-06-21 12:12:08  entertainment   15.56    UT       258         0
1296671   2020-06-21 12:12:19    food_dining   51.70    MD       100         0
1296672   2020-06-21 12:12:32    food_dining  105.93    NM       899         0
1296673   2020-06-21 12:13:36    food_dining   74.90    SD      1126         0
1296674   2020-06-21 12:13:37    food_dining    4.30    MT       218         0

[1296675 rows x 6 columns]>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 6 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1296675 non-null  object
 1   category               1296675 non-null  object
 2   amt                    1296675 non-null  float64
 3   state                  1296675 non-null  object
 4   city_pop               1296675 non-null  int64
 5   is_fraud               1296675 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 280.1 MB

In [36]:
dtypes = {'category': 'category'}
df3 = pd.read_csv(r'C:\Users\sg_cl\Desktop\masters subjects\DSRT 736\Fraud Dataset\New_data_CCFD\ccfraudTrain.csv', usecols = cols, dtype = dtypes)
print(df3.head)
df3.info(memory_usage = 'deep')

<bound method NDFrame.head of         trans_date_trans_time       category     amt state  city_pop  is_fraud
0         2019-01-01 00:00:18       misc_net    4.97    NC      3495         0
1         2019-01-01 00:00:44    grocery_pos  107.23    WA       149         0
2         2019-01-01 00:00:51  entertainment  220.11    ID      4154         0
3         2019-01-01 00:01:16  gas_transport   45.00    MT      1939         0
4         2019-01-01 00:03:06       misc_pos   41.96    VA        99         0
...                       ...            ...     ...   ...       ...       ...
1296670   2020-06-21 12:12:08  entertainment   15.56    UT       258         0
1296671   2020-06-21 12:12:19    food_dining   51.70    MD       100         0
1296672   2020-06-21 12:12:32    food_dining  105.93    NM       899         0
1296673   2020-06-21 12:13:36    food_dining   74.90    SD      1126         0
1296674   2020-06-21 12:13:37    food_dining    4.30    MT       218         0

[1296675 rows x 6 columns]>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 6 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   trans_date_trans_time  1296675 non-null  object
 1   category               1296675 non-null  category
 2   amt                    1296675 non-null  float64
 3   state                  1296675 non-null  object
 4   city_pop               1296675 non-null  int64
 5   is_fraud               1296675 non-null  int64
dtypes: category(1), float64(1), int64(2), object(2)
memory usage: 197.9 MB

In [43]:
df3['category']

0               misc_net
1            grocery_pos
2          entertainment
3          gas_transport
4               misc_pos
               ...
1296670    entertainment
1296671      food_dining
1296672      food_dining
1296673      food_dining
1296674      food_dining
Name: category, Length: 1296675, dtype: category
Categories (14, object): ['entertainment', 'food_dining', 'gas_transport', 'grocery_net', ..., 'personal_care', 'shopping_net', 'shopping_pos', 'travel']